{% extends 'base.html' %}
{% block article_item %}
    <h1>业务线管理</h1>


    <table border="1" class="table">
        <thead>
            <tr>
                <th>业务线 ID</th>
                <th>部门名称</th>
                <th>操作</th>

            </tr>
        </thead>
        <tbody>
        {% for row in firms %}
            <tr>

                <td>{{ row.id }}</td>
                <td>{{ row.firm_nam }}</td>
                <td>
                    <button class="btn btn-primary btn-lg editbut" data-toggle="modal" id=edit{{ row.id }} data-target="#edit">编辑</button>
                    <button class="btn btn-primary btn-lg addbut " data-toggle="modal" id=add{{ row.id }} data-target="#add">增加</button>
                    <button class="btn btn-primary btn-lg delbut" data-toggle="modal" id=del{{ row.id }} data-target="#del">删除</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <!-- 模态框（Modal） -->

 <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
{#    <form role="form" action="/login" method="post">#}
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					编辑业务线
				</h4>
			</div>
			<div class="modal-body">

                <div class="form-group">
            <label for="name">主机 ID</label>
            <input type="text" class="form-control" id="firm_id" name="name"
                   placeholder="请输入名称">
	    </div>
                <div class="form-group">
            <label for="name">部门名称</label>
            <input type="text" class="form-control" id="firm_name" name="pwd"
                   placeholder="请输入名称">
	    </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="submit" class="btn btn-primary" id="btn">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
{#    </form>#}
   </div>
 <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
{#    <form role="form" action="/login" method="post">#}
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增业务线
				</h4>
			</div>
			<div class="modal-body">

                <div class="form-group">
            <label for="name">主机 ID</label>
            <input type="text" class="form-control" id="firm_id" name="name"
                   placeholder="请输入名称">
	    </div>
                <div class="form-group">
            <label for="name">部门名称</label>
            <input type="text" class="form-control" id="firm_name" name="pwd"
                   placeholder="请输入名称">
	    </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="submit" class="btn btn-primary">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
{#    </form>#}
   </div>
{% endblock %}
{% block  js %}
    <script>
    $('.editbut').click(function(){
        var firm_id=$(this).parent().siblings().eq(-2)[0].innerText;
        var firm_name=$(this).parent().siblings().eq(-1)[0].innerText;
        console.log(firm_id);
        console.log(firm_name);
        $('#firm_id').val(firm_id)
        $('#firm_name').val(firm_name)
        binBtn();
        function binBtn() {
        $('#btn').click(function () {
            var new_id=$('#firm_id').val()
            var new_name=$('#firm_name').val()
            $.ajax({
                url:'/firm',
                type:'POST',
                data:{new_id:new_id,new_name:new_name,old_id:firm_id},
{#                数据提交成功后服务端返回的数据#}
                success:function (data){
                    var data_dict=JSON.parse(data)
                    console.log(data_dict)
                    if(data_dict.status){
                        location.href='/firm'
                    }else{
                        console.log(data_dict.error)
                        alert(data_dict.error)
                    }
                }
            })
})

        }
    });
    </script>


{% endblock %}