{% extends 'base.html' %}



{% block head_css %}
{% endblock %}

{% block article_item %}
    <div class="article_item">
                        <p>
                            <span class="article_title">
                                乱扔烟头的后果~不小心引爆了可燃气体，boom~~(GIF 3MB) ​​​​（@变态学教授无铭）
                            </span>
                        </p>
                        <p>
                            <span class="content">
                            西门子正准备将其高铁业务与加拿大庞巴迪的列车业务合并，
                            最主要的原因是联手对抗来自中车的压倒性竞争。
                            作为拥有全球最先进高铁技术的西门子公司，是中国高铁真真正正的“师傅”，
                            而中国中车的前身南车和北车成立股份公司不过是十年前的事情。当年，西...
                            </span>
                        </p>
                        <p>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 123
                            <i class="fa fa-commenting-o" aria-hidden="true"></i> 456
                        </p>
                    </div>
{% endblock %}